@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Anton&family=Archivo&family=BioRhyme&family=Cormorant&family=Encode+Sans&family=Epilogue&family=Hahmlet&family=Inter&family=JetBrains+Mono&family=Lato&family=Lora&family=Manrope&family=Montserrat&family=Nunito&family=Old+Standard+TT&family=Open+Sans&family=Oswald&family=Oxygen&family=Playfair+Display&family=Poppins&family=Raleway&family=Roboto&family=Sora&family=Source+Sans+Pro&family=Spectral&family=Work+Sans&display=swap');




header {
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px;
    align-items: center;
}

.title {
    width: 500px;
    text-align: center;
    font-size: 20px;
}

.about {
    width: 200px;
    text-align: center;
}